/* NAVIGATION BAR STYLE   */
  
/* Change background color of buttons on hover */
  .tab button:hover {
  background-color: #ddd;
  }
        
 /* Create an active/current tablink class */
  .tab button.active {
  background-color: #ccc;
  }
        
  /* Style the tab content */
  .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  }
        
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
  }
        
  @keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

/* END OF NAVIGATION BAR */

  
/* MAP STYLE FOR MAP 1- CHARLOTTE */

/* position map container */
#timemap {
    position: absolute;
    top: 20;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 100%;
    margin-top: 10px;
}

/*Styling for timeslider legend*/
#console {
  position: absolute;
  width: 300px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

/*Styling for popups*/
.mapboxgl-popup {
  max-width: 400px;
  font:
      12px/20px 'Helvetica Neue',
      Arial,
      Helvetica,
      sans-serif;
    }

/* END OF TIME MAP */


/* MAP STYLE FOR MAP 2- SARAH */

/* position map container */
#datamap {
  position: absolute;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  margin-top: 10px;
}

/* Housing Suitability Legend */
.legend {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  margin-bottom: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*horizontal shadow, vertical shadow, size of shadow, color*/
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  right: 30px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend-key {
  display: inline-block;
  border-radius: 50%; /*curve border to make a circle*/
  height: 10px; /*size of circle*/
  width: 10px;
  margin-right: 5px; /*position of circle*/
}

/* Housing Value Legend */
.legendval {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  margin-bottom: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*horizontal shadow, vertical shadow, size of shadow, color*/
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  right: 30px;
  z-index: 1;
}

.legendval h4 {
  margin: 0 0 10px;
}

.legend-keyval {
  display: inline-block;
  border-radius: 50%; /*curve border to make a circle*/
  height: 10px; /*size of circle*/
  width: 10px;
  margin-right: 5px; /*position of circle*/
}

/* Styling and positioning 5 DATA SET LAYER TOGGLE BUTTONS */

/* collapse housing standard map container as button */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 260px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* END OF DATA MAP */


/* STYLE FOR BIA SEARCH PAGE */

/*styling for bia cards*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 520px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card h2 {
  font-size: 20px;
  margin: 0;
}

.card p {
  margin: 10px 0;
}

.d-flex {
  width: 400px;
  margin: auto;
}

.card-group {
  width: 1300px;
  margin: auto;
}

/* END OF BIA SEARCH PAGE */
